html 

head
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
head

body
    h1= Plantilla pug

    <form action="/productos" method="post">
    <input type="text" name="title" placeholder="title" />
    <input type="text" name="price" placeholder="price" />
    <input type="text" name="thumbnail" placeholder="thumbnail" />
    <button>Guardar producto</button>
    </form>

<a href="/productos"> <button>Ver productos</button></a>
body

html