html
head
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    style 
        table,
        th,
        td {
            border: 1px solid;
        }
        .title {
            text-align: center;
        }
        .product-list {
            width: 100%;
        }
    style
head

body
    h1= Plantilla pug  
    <div>
        h1= Mi lista de productos 

        <table class="product-list">
            <tr>
                <th>Título</th>
                <th>Precio</th>
                <th>Miniatura</th>
            </tr>
             productos.forEach((product)=> { 
                <tr>
                    <td>
                       {product.title}
                    </td>
                    <td>
                        {product.price}
                    </td>
                    <td>
                        <img width="72px" height="72px" src= {product.thumbnail} />
                    </td>
                </tr>
                } )
        </table>

        <a href="/"><button>Volver al formulario de carga</button></a>

    </div>

body
html

